#p1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:small;
    font-weight: 100;
    color: bisque;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    text-align: center;
}
button{
    color:black;
    background-color:blue;
    padding: 10px 30px;
    border-radius:10px;
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logoimage{
    height: 20px;
    width: 30px;
}